Repository OscarSantos98/CryptoProject: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

azure-pipelines-publish-backend.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: '>=6.0.3'
  - task: FileTransform@1
    displayName: 'File transformation: appsettings.json'
    inputs:
      folderPath: $(System.DefaultWorkingDirectory)/CryptoAPI/CryptoAPI/
      fileType: json
  ...

azure-pipelines-publish-frontend.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: $(projects)
      arguments: --configuration $(buildConfiguration)
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: DotNetCoreCLI@2
  ...

Add: LICENSE
  LICENSE
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: iac screenshots
  assets/img/iac/azure portal prod rg.PNG
  assets/img/iac/terraform apply.PNG
  assets/img/iac/terraform outputs.PNG
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: pre deployment approval img
  assets/img/devops/Pre deployment approval to production env.PNG
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Merge: static branch (#1)
  .gitignore
  LICENSE
  assets/db/Crypto DB Schema Diagram.png
  assets/img/Functional Arch Crypto Project 1.png
  assets/img/Functional Arch Crypto Project 2.png
  assets/img/app/dashboard.PNG
  assets/img/app/filters.PNG
  assets/img/app/home.PNG
  assets/img/app/sign up.PNG
  assets/img/app/two dashboards.PNG
  assets/img/app/user settings.PNG
  assets/img/devops/CD backend.PNG
  assets/img/devops/CD frontend.PNG
  assets/img/devops/CD task.PNG
  assets/img/devops/CD triggered by CI.PNG
  assets/img/devops/CD triggered by hand.PNG
  assets/img/devops/CI after adding 2n dashboard run.PNG
  assets/img/devops/CI after adding 2n dashboard.PNG
  assets/img/devops/Pre deployment approval to production env.PNG
  assets/img/devops/Update 2nd dashboard.PNG
  assets/img/devops/Variable group.jpg
  assets/img/iac/azure portal prod rg.PNG
  assets/img/iac/terraform apply.PNG
  assets/img/iac/terraform outputs.PNG
  assets/sql/CreateCryptoDB.sql
  assets/sql/DeleteCryptoDB.sql
  azure-pipelines-ci-backend.yml
  azure-pipelines-publish-backend.yml
  azure-pipelines-publish-frontend.yml
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: pr with failed tests img
  assets/img/devops/Pull request with failed tests.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: Tests pass img
  assets/img/devops/Tests pass.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: images of some API endpoints
  assets/img/app/Swagger Roles.PNG
  assets/img/app/Swagger UsersController.PNG
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Merge: static branch (#2)
  assets/img/app/Swagger Roles.PNG
  assets/img/app/Swagger UsersController.PNG
  assets/img/devops/Pull request with failed tests.png
  assets/img/devops/Tests pass.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: Backend Project
  CryptoAPI/CryptoAPI.sln
  CryptoAPI/CryptoAPI/Controllers/CryptoControllerWithRepository.cs
  CryptoAPI/CryptoAPI/Controllers/RolesController.cs
  CryptoAPI/CryptoAPI/Controllers/ThemesController.cs
  CryptoAPI/CryptoAPI/Controllers/UserActionController.cs
  CryptoAPI/CryptoAPI/Controllers/UsersControllerWithRepository.cs
  CryptoAPI/CryptoAPI/Controllers/WeatherForecastController.cs
  CryptoAPI/CryptoAPI/CryptoAPI.csproj
  CryptoAPI/CryptoAPI/Models/Crypto.cs
  CryptoAPI/CryptoAPI/Models/CryptoDBContext.cs
  CryptoAPI/CryptoAPI/Models/CryptoRequest.cs
  CryptoAPI/CryptoAPI/Models/JWTSettings.cs
  CryptoAPI/CryptoAPI/Models/RefreshRequest.cs
  CryptoAPI/CryptoAPI/Models/RefreshToken.cs
  CryptoAPI/CryptoAPI/Models/Role.cs
  CryptoAPI/CryptoAPI/Models/Theme.cs
  CryptoAPI/CryptoAPI/Models/User.cs
  CryptoAPI/CryptoAPI/Models/UserAction.cs
  CryptoAPI/CryptoAPI/Models/UserWithToken.cs
  CryptoAPI/CryptoAPI/Program.cs
  CryptoAPI/CryptoAPI/Properties/launchSettings.json
  CryptoAPI/CryptoAPI/Repository pattern/CryptoRepository.cs
  CryptoAPI/CryptoAPI/Repository pattern/ICryptoRepository.cs
  CryptoAPI/CryptoAPI/WeatherForecast.cs
  CryptoAPI/CryptoAPI/appsettings.json
  CryptoAPI/IntegrationTests/CustomWebApplicationFactory.cs
  CryptoAPI/IntegrationTests/Helpers/UserWithTokenConverter.cs
  CryptoAPI/IntegrationTests/Helpers/Utilities.cs
  CryptoAPI/IntegrationTests/IntegrationTests.csproj
  CryptoAPI/IntegrationTests/Properties/launchSettings.json
  CryptoAPI/IntegrationTests/Tests/UsersTests.cs
  CryptoAPI/IntegrationTests/Usings.cs
  CryptoAPI/UnitTests/UnitTests/ControllerTests/CryptoControllerTests.cs
  CryptoAPI/UnitTests/UnitTests/ControllerTests/UserControllerTests.cs
  CryptoAPI/UnitTests/UnitTests/UnitTests.csproj
Due: azure-pipelines-publish-backend.yml

Add: README to backend project
  CryptoAPI/README.md
Due: azure-pipelines-publish-backend.yml

Update: README of frontend project
  CryptoBlazor/README.md
Due: azure-pipelines-publish-frontend.yml

Update: .gitignore with unwanted terraform files
  .gitignore
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: README to infrastructure project
  IaC/README.md
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: Infrastructure Project
  IaC/locals.tf
  IaC/main.tf
  IaC/outputs.tf
  IaC/providers.tf
  IaC/variables.tf
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Update: README of backend project with info about appsettings.Develpment.json file with db connection string
  CryptoAPI/README.md
Due: azure-pipelines-publish-backend.yml

Update: README of IaC project
  IaC/README.md
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Add: sql server query steps imgs
  assets/img/sqlserver/SQL Server Completed query.png
  assets/img/sqlserver/SQL Server Create query.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Merge: Static branch (#8)
  assets/img/sqlserver/SQL Server Completed query.png
  assets/img/sqlserver/SQL Server Create query.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Revert "Merge: Static branch (#8)"
  assets/img/sqlserver/SQL Server Completed query.png
  assets/img/sqlserver/SQL Server Create query.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Revert "Merge: Static branch (#8)" (#9)
  assets/img/sqlserver/SQL Server Completed query.png
  assets/img/sqlserver/SQL Server Create query.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Remove: IaC project
  IaC/README.md
  IaC/locals.tf
  IaC/main.tf
  IaC/outputs.tf
  IaC/providers.tf
  IaC/variables.tf
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Merge Static to backend/dev (#10)
  .gitignore
  assets/img/sqlserver/SQL Server Completed query.png
  assets/img/sqlserver/SQL Server Create query.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Update: README of backend project
  CryptoAPI/README.md
Due: azure-pipelines-publish-backend.yml

Fix: broken link for DeleteCryptoDB file
  CryptoAPI/README.md
Due: azure-pipelines-publish-backend.yml

Merge dev to main (#13)
  CryptoAPI/README.md
  IaC/README.md
  assets/img/sqlserver/SQL Server Completed query.png
  assets/img/sqlserver/SQL Server Create query.png
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Update: README
  README.md
Due: azure-pipelines-publish-backend.yml, azure-pipelines-publish-frontend.yml

Path conditions:
  azure-pipelines-publish-backend.yml: any file but: CryptoBlazor
  azure-pipelines-publish-frontend.yml: any file but: CryptoAPI
